{% extends "radioco/base.html" %}
{% load staticfiles i18n disqus_tags %}


{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="RSS Feed for {{ episode.programme.name }}" href="{% url 'programmes:rss' episode.programme.slug %}" />
{% endblock %}

{% block page_title %}{{ episode }}{% endblock %}

{% block programmes_class %}active{% endblock %}

{% block content %}
    <div class="container mb">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 centered">
                <img class="center-block img-responsive" src="{{ programme.photo.url }}" alt="...">
            </div>

            <div class="col-lg-5 offset-lg-1 spacing">
                <h4>{{ episode|title }}</h4>

                <p>{% firstof episode.summary|safe episode.programme.synopsis|safe '' %}</p>

                <h4>{% trans "Podcast" %}</h4>
                <p class="podcast-download">
                    {% if episode.podcast %}
                        <audio src="{{ episode.podcast.url }}" type="{{ episode.podcast.mime_type }}" controls>
                            {% trans "Your browser does not support the audio element." %}
                        </audio>
                        <a href="{{ episode.podcast.url }}" target="_blank" download>
                          <span class="fa fa-download fa-2x"></span>
                        </a>
                    {% else %}
                        {% if not episode_end_date or now > episode_end_date %}
                            {% trans "Sorry, this podcast isn't available yet" %}
                        {% else %}
                            {% trans "The podcast will be available in" %} {{ episode_end_date|timeuntil }}
                        {% endif %}
                    {% endif %}
                </p>
            </div>

            <div class="col-lg-4 offset-lg-1 spacing">
                <h4>{% trans 'Programme Details' %}</h4>
                <div class="hline"></div>
                <p>
                    <b>{% trans 'Date:' %}</b>
                    {% if episode.issue_date %}
                        {{ episode.issue_date|date:"DATETIME_FORMAT" }}
                    {% else %}
                        {% trans "Schedule pending" %}
                    {% endif %}
                </p>
                <p>
                    <b>{% trans 'Programme:' %}</b>
                    <a href="{% url 'programmes:detail' programme.slug %}">{{ programme.name }}</a>
                </p>
                <p>
                    <b>{% trans 'Category:' %}</b>
                    {{ programme.get_category_display }}
                </p>
                <p>
                    <b>{% trans 'RSS:' %}</b>
                    <a rel="alternate" type="application/atom+xml" href="pcast://{{ request.get_host }}{% url 'programmes:rss' programme.slug %}">
                        <i class="fa fa-rss-square fa-2x"></i>
                    </a>
                </p>
            </div>

        </div>
        <! --/row -->
        {% if settings.DISQUS_ENABLE %}
            <div class="row">
                <div class="col-lg-10 offset-lg-1 centered">
                    {% set_disqus_identifier programme.id|stringformat:"i" %}
                    {% set_disqus_title programme.name %}
                    {% set_disqus_url episode.get_absolute_url %}
                    {% disqus_show_comments %}
                </div>
            </div>
        {% endif %}
    </div><! --/container -->

    {% if role_list %}
        <div class="container mhtb">
            <div class="row centered">
                <h3 class="mb">{% trans 'Participants'|upper %}</h3>
                {% for role in role_list %}
                    {% include "programmes/role_snippet.html" %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
