{% extends "radioco/base.html" %}
{% load static i18n  %}


{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="RSS Feed for {{ programme.name }}" href="{% url 'programmes:rss' programme.slug %}" />
{% endblock %}

{% block page_title %}{{ programme.name }}{% endblock %}

{% block programmes_class %}class="active"{% endblock %}

{% block content %}
    <div class="container mb">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 centered">
                <img class="center-block img-responsive" src="{{ programme.photo.url }}" alt="...">
            </div>

            <div class="col-lg-5 col-lg-offset-1 spacing">
                <h4>{{ programme.name }}</h4>
                <p>{{ programme.synopsis|safe }}</p>
            </div>

            <div class="col-lg-4 col-lg-offset-1 spacing">
                <h4>{% trans 'Programme Details' %}</h4>
                <div class="hline"></div>
                <p><b>Language:</b> {{ language }}</p>
                <p><b>Category:</b> {{ programme.get_category_display }}</p>
                <p>
                    <b>RSS:</b>
                    <a rel="alternate" type="application/atom+xml" href="pcast://{{ request.get_host }}{% url 'programmes:rss' programme.slug %}">
                        <i class="fa fa-rss-square fa-2x"></i>
                    </a>
                </p>
            </div>

        </div>

    {% if episode_list %}
        <div class="container mhb">
            <div class="row">
                <h3 class="text-center">{% trans 'Episodes' %}</h3>
                {% for episode in episode_list %}

                    {% ifchanged episode.season %}
                        {% if not forloop.first %}</div> {% endif %}
                        <div class="col-lg-3">
                            <h4>{% trans "Season" %} {{ episode.season }}</h4>
                            <div class="hline"></div>
                    {% endifchanged %}
                    <p>
                        <a href="{% url 'programmes:episode_detail' programme.slug episode.season episode.number_in_season %}">
                            {{ episode }}
                        </a>
                    </p>
                    {% if forloop.last %}</div>{% endif %}

                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if role_list %}
        <div class="container mhb">
            <div class="row centered">
                <h3 class="mb">MEMBERS</h3>
                {% for role in role_list %}
                    {% include "programmes/role_snippet.html" %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}