Django==1.8.13
Pillow
python-dateutil
pytz
django-grappelli>=2.7.3
django-filebrowser>=3.6.1
djangorestframework
django-ckeditor==5.0.2
fabric
django-disqus==0.5
django-bower==5.1.0
django-filter==0.13.0
django-recurrence==1.3.0