{% extends "radio/base.html" %}
{% load staticfiles i18n %}

{% load bootstrap3 %}
{% bootstrap_messages %}

{% block login_class %}class="active"{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static "radio/css/signin.css" %}" type="text/css" />
{% endblock %}

{% block content %}
	<form method="post" class="form-signin">
	<h2 class="form-signin-heading">{% trans "Please sign in" %}</h2>
	{% if error %}
		<div class="alert alert-danger">{% trans "Wrong Username and password combination." %}</div>
	{% endif %}
	{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-lg btn-primary btn-block">
            Submit
        </button>
    {% endbuttons %}
	</form>
{% endblock content %}