# django collectstatic files
radioco/media/_versions/
radioco/components/
radioco/static/

# bower
node_modules/
radioco/apps/radioco/static/bower/

# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store
*.py[cod]
*.swp
.idea
db.*

/.*
!/.gitignore
!/.gitmodules
local_settings.py
local_env

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
dist/
django_radio.egg-info/
radioco.egg-info/
sitepackages/
pip-selfcheck.json

# virtualenv
bin/
develop-eggs/
eggs/
include/
lib/
lib64
local/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
nosetests.xml
coverage.xml

# Django stuff:
*.log
sitestatic/

# Sphinx documentation
docs/_build/

# Files ending in ~
*~

# Docker tmp files (just in case)
id_rsa.pub
tmp_requirements.txt