version: '3.4'
services:


  # Backend server -------------------------------------------------------------

  django:
    environment:
      - DEBUG=True
    volumes:
      - ./:/radioco/
    ports:
      - ${PORT_BACKEND}:8000
    command: /bin/sh -c "cd /radioco && ./docker/scripts/launch_dev_server.sh"
    #stdin_open: true
    #tty: true  # ERROR: An HTTP request took too long to complete. https://github.com/docker/compose/issues/3633
