{% extends "admin/change_list.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block extrastyle %}
    <link rel="stylesheet" href="{% static "bower/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "radioco/css/calendar.css" %}" type="text/css"/>
    <style type="text/css" media="all">
        button {
            margin: unset;
            padding: unset;
            width: unset;
            height: unset;
        }
        tbody.fc-body table {
            margin: unset !important;
        }
    </style>
{% endblock %}


{% block content_title %}{% endblock %}


{% block extrahead %}
    <script src="{% static "bower/jquery/dist/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "bower/jqueryui/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "lib/django-csrf.js" %}" type="text/javascript"></script>
    <script src="{% static "bower/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.15/locales-all.global.js'></script>

    <script>
        function alert(msg) {
            message(msg, "danger");
        }

        function info(msg) {
            message(msg, "info");
        }

        function success(msg) {
            message(msg, "success");
        }

        function message(msg, tag) {
            $("#messages").empty();
            $("<li>").append(msg)
                .addClass("alert alert-" + tag)
                .fadeIn(800).delay(10000).fadeOut(800, function() {
                    this.remove();
                })
                .appendTo("#messages");
        }

        $(document).ready(function () {
        
            $('#modal .modal-confirm-button').on('click', function(e) {
                e.preventDefault();
                var $form = $('#modal form');
                $.ajax({
                    data: $form.serialize(),
                    type: "POST",
                    url: $form.attr('action'),
                    success: function(response) {
                        if (response.result === 'ok'){
                            $('#modal').modal('hide');

                            const calendarEl = document.getElementById('calendar')
                            const calendar = new FullCalendar.Calendar(calendarEl, {})
                            calendar.refetchEvents();
                            success('{% trans "Transmission deleted" %}');
                        } else {
                            $('#modal .modal-body').html(response);
                        }
                    }
                });
            });
            
            $("input[name='group1']").click(function() {
                var backgroundColor = getBackgroundColor($("input[name='group1']:checked").val());
                $('.external-event').each(function() {
                  $( this ).css("background-color", backgroundColor);
                });
            });
            
            $("#select-calendar").change(function() {
                const calendarEl = document.getElementById('calendar')
                const calendar = new FullCalendar.Calendar(calendarEl)
                calendar.refetchEvents();
                calendar.render()
            });

            var previous_date = null;
            const calendarEl = document.getElementById('calendar')
            var calendar = new FullCalendar.Calendar(calendarEl, {
                height: 'auto',
                contentHeight: 'auto',
                locale: '{{ LANGUAGE_CODE }}',
                eventDurationEditable: false,
                eventStartEditable: true,
                allDaySlot: false,
                slotDuration: '{{slot_duration}}',
                // axisFormat: 'HH:mm',
                slotLabelFormat: {
                    hour: 'numeric',
                    minute: '2-digit',
                },
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                defaultView: 'timeGridWeek',
                eventSources: [{
                    url: '{% url "api:transmission-list" %}',
                    cache: true,
                    contentType: 'application/json',
                    startParam: 'after',
                    endParam: 'before',
                    data: function() {
                        return { calendar: $("#select-calendar").val(), timezone: '{{ settings.TIME_ZONE }}' }
                    },
                    error: function() {
                        alert('{% trans "There was an error while fetching transmissions" %}');
                    },
                    eventDataTransform: function(transmission) {
                        var event = {
                            id: transmission.id,
                            title: transmission.name,
                            start: transmission.start,
                            end: transmission.end,
                            url: "{% url 'admin:schedules_schedule_changelist' %}" + transmission.schedule,
                            type: transmission.type,
                            source: transmission.source,
                            backgroundColor: function() {
                                return getBackgroundColor(transmission.type);
                            }()
                        };
                        return event;
                    },
                    editable: true,
                    borderColor: "#000",
                    allDayDefault: false
                }],
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (date) { // this function is called when something is dropped
                    var programme = $(this).data('slug');
                    var calendar = $("#select-calendar").val();
                    var type = $("input[name='group1']:checked").val();
                    // create the event
                    $.ajax({
                        type: "POST",
                        url: "{% url 'api:schedule-list' %}",
                        contentType: 'application/json',
                        data: JSON.stringify({
                            calendar: calendar,
                            programme: programme,
                            start: date.format('YYYY-MM-DD HH:mm:ss'),
                            type: type
                        }),
                        success: function(schedule) {
                            const calendarEl = document.getElementById('calendar')
                            const calendar = new FullCalendar.Calendar(calendarEl, {})
                            calendar.refetchEvents();;
                            success('{% trans "Transmission created" %}');
                        },
                        error: function (data) {
                            alert('{% trans "There was an error while creating schedule: " %}' + data.responseText);
                        }
                    });
                },

                viewRender: function (view, element) {
                    reloadProgrammes(view.start.format('YYYY-MM-DD'), moment(view.end).subtract(1, "days").format('YYYY-MM-DD'))
                },
                eventClick: function (calEvent, jsEvent, view) {
                    var url = '{% url 'admin:schedules_schedule_change' 0 %}'.replace('/0/', '/' + calEvent.id + '/');
                    showAddAnotherPopup({href : url + '?_popup=1', 'id':'change_change_schedule'});
                    jsEvent.preventDefault();
                },
                eventDragStart: function(event) {
                    previous_date = new Date(event.start);
                },
                eventDragStop: function ({event, jsEvent, ui, view}) {
                    if (isOverElement(jsEvent, $('div.external-events-wrapper'))) {
                        var url = '{% url 'schedules:delete_transmission' 0 %}'.replace('/0/', '/' + event.id + '/');
                        $("#modal .modal-body").load(
                            url + '?transmission_dt=' + event.start.toISOString(),
                            function (result) {
                                $('#modal').modal('show');
                            }
                        );
                    }
                },
                eventDrop: function ({event, delta, revert}) {
                    var url = "{% url 'api:operation-detail' 0 %}".replace('/0', '/' +  event.id); // replacing /0 
                    $.ajax({
                        type: "PATCH",
                        url: url,
                        contentType: 'application/json',
                        data: JSON.stringify({
                            id:  event.id,
                            start: previous_date,
                            new_start: event.start,
                        }),
                        success: function (res) {
                          const calendarEl = document.getElementById('calendar')
                            const calendar = new FullCalendar.Calendar(calendarEl, {})
                            calendar.refetchEvents();;
                            success('{% trans "Transmission moved successfully" %}');
                        },
                        error: function (data) {
                            revert();
                            alert('{% trans "There was an error in the request" %}' + data.responseText);
                        },
                    });
                },
            })
            calendar.render()
            // var calendar = $('#calendar').fullCalendar({
            //     timezone: false,
            //     height: 'auto',
            //     contentHeight: 'auto',
            //     lang: '{{ LANGUAGE_CODE }}',
            //     eventDurationEditable: false,
            //     eventStartEditable: true,
            //     allDaySlot: false,
            //     slotDuration: '{{slot_duration}}',
            //     axisFormat: 'HH:mm',
            //     header: {
            //         left: 'prev,next today',
            //         center: 'title',
            //         right: 'month,agendaWeek,agendaDay'
            //     },
            //     defaultView: 'agendaWeek',
            //     eventSources: [{
            //         url: '{% url "api:transmission-list" %}',
            //         cache: true,
            //         contentType: 'application/json',
            //         startParam: 'after',
            //         endParam: 'before',
            //         data: function() {
            //             return { calendar: $("#select-calendar").val(), timezone: '{{ settings.TIME_ZONE }}' }
            //         },
            //         error: function() {
            //             alert('{% trans "There was an error while fetching transmissions" %}');
            //         },
            //         eventDataTransform: function(transmission) {
            //             var event = {
            //                 id: transmission.id,
            //                 title: transmission.name,
            //                 start: transmission.start,
            //                 end: transmission.end,
            //                 url: "{% url 'admin:schedules_schedule_changelist' %}" + transmission.schedule,
            //                 type: transmission.type,
            //                 source: transmission.source,
            //                 backgroundColor: function() {
            //                     return getBackgroundColor(transmission.type);
            //                 }()
            //             };
            //             return event;
            //         },
            //         editable: true,
            //         borderColor: "#000",
            //         allDayDefault: false
            //     }],
            //     droppable: true, // this allows things to be dropped onto the calendar !!!
            //     drop: function (date) { // this function is called when something is dropped
            //         var programme = $(this).data('slug');
            //         var calendar = $("#select-calendar").val();
            //         var type = $("input[name='group1']:checked").val();
            //         // create the event
            //         $.ajax({
            //             type: "POST",
            //             url: "{% url 'api:schedule-list' %}",
            //             contentType: 'application/json',
            //             data: JSON.stringify({
            //                 calendar: calendar,
            //                 programme: programme,
            //                 start: date.format('YYYY-MM-DD HH:mm:ss'),
            //                 type: type
            //             }),
            //             success: function(schedule) {
            //                 const calendarEl = document.getElementById('calendar')
            //                 const calendar = new FullCalendar.Calendar(calendarEl, {})
            //                 calendar.refetchEvents();;
            //                 success('{% trans "Transmission created" %}');
            //             },
            //             error: function (data) {
            //                 alert('{% trans "There was an error while creating schedule: " %}' + data.responseText);
            //             }
            //         });
            //     },

            //     viewRender: function (view, element) {
            //         reloadProgrammes(view.start.format('YYYY-MM-DD'), moment(view.end).subtract(1, "days").format('YYYY-MM-DD'))
            //     },
            //     eventClick: function (calEvent, jsEvent, view) {
            //         var url = '{% url 'admin:schedules_schedule_change' 0 %}'.replace('/0/', '/' + calEvent.id + '/');
            //         showAddAnotherPopup({href : url + '?_popup=1', 'id':'change_change_schedule'});
            //         jsEvent.preventDefault();
            //     },
            //     eventDragStart: function(event) {
            //         previous_date = new Date(event.start);
            //     },
            //     eventDragStop: function (event, jsEvent, ui, view) {
            //         if (isOverElement(jsEvent, $('div.external-events-wrapper'))) {
            //             var url = '{% url 'schedules:delete_transmission' 0 %}'.replace('/0/', '/' + event.id + '/');
            //             $("#modal .modal-body").load(
            //                 url + '?transmission_dt=' + event.start.toISOString(),
            //                 function (result) {
            //                     $('#modal').modal('show');
            //                 }
            //             );
            //         }
            //     },
            //     eventDrop: function (event, delta, revertFunc) {
            //         var url = "{% url 'api:operation-detail' 0 %}".replace('/0', '/' +  event.id); // replacing /0 
            //         $.ajax({
            //             type: "PATCH",
            //             url: url,
            //             contentType: 'application/json',
            //             data: JSON.stringify({
            //                 id:  event.id,
            //                 start: previous_date,
            //                 new_start: event.start,
            //             }),
            //             success: function (res) {
            //               const calendarEl = document.getElementById('calendar')
            //                 const calendar = new FullCalendar.Calendar(calendarEl, {})
            //                 calendar.refetchEvents();;
            //                 success('{% trans "Transmission moved successfully" %}');
            //             },
            //             error: function (data) {
            //                 revertFunc();
            //                 alert('{% trans "There was an error in the request" %}' + data.responseText);
            //             },
            //         });
            //     },
            // })

        });

        function reloadProgrammes(after, before) {
            $('#external-events').empty();
            $.getJSON({
                url: "{% url 'api:programme-list' %}",
                data: {after: after, before:before, ordering:'name'},
                success: function(programmes) {
                    var backgroundColor = getBackgroundColor($("input[name='group1']:checked").val());
                    for (var i=0; i<programmes.length; i++) {
                        var programme = programmes[i];

                        $("<div>").append(programme.name)
                            .addClass("external-event")
                            .css("background-color", backgroundColor)
                            .data('id', programme.id)
                            .data('slug', programme.slug)
                            .data('title', programme.name)
                            .data('runtime', programme.runtime)
                            .draggable({
                                zIndex: 999,
                                revert: true, // will cause the event to go back to its
                                revertDuration: 0,
                                helper: function(){
                                    return $(this).clone();
                                },
                                appendTo: 'body'
                            }).on( "click", function(jsEvent) {
                                var url = '{% url 'admin:programmes_programme_change' 0 %}'.replace('/0/', '/' + $(this).data('id') + '/');
                                showAddAnotherPopup({
                                    href : url + '?_popup=1',
                                    'id':'change_change_programme'
                                });
                                jsEvent.preventDefault();
                            }).appendTo('#external-events');
                    }
                },
                error: function (data) {
                    alert('{% trans "There was an error while reloading programmes" %}' + data.responseText);
                },
            });
        }
        
        function isOverElement(draggedItem, dropArea) {
            var draggedX = draggedItem.pageX;
            var draggedY = draggedItem.pageY;

            var b = $(dropArea);
            var limitX = parseInt(b.offset().left) + parseInt(b.outerWidth());
            var limitY = parseInt(b.offset().top) + parseInt(b.outerHeight());

            // Compare
            if (limitY >= parseInt(draggedY)
                    && limitX >= parseInt(draggedX)) {
                return true;
            }
            return false;
        }
        
        function getBackgroundColor(type) {
            var BackgroundColor = Object.freeze({
                L: "#F9AD81",
                B: "#C4DF9B",
                S: "#8493CA"
            });
            return BackgroundColor[type];
        }

        function dismissChangeRelatedObjectPopup(win, objId, newRepr, newId) {
            // admin/js/admin/RelatedObjectLookups.js
            // Refreshing related information depending on the object type
            var name = windowname_to_id(win.name);
            // var view = $('#calendar').fullCalendar('getView');
            const calendarEl = document.getElementById('calendar')
            var calendar = new FullCalendar.Calendar(calendarEl, {})
            calendar.getView();
            calendar.render()
            if (name === 'change_programme') {
                reloadProgrammes(view.start.format('YYYY-MM-DD'), moment(view.end).subtract(1, "days").format('YYYY-MM-DD'));
                const calendarEl = document.getElementById('calendar')
                const calendar = new FullCalendar.Calendar(calendarEl, {})
                calendar.refetchEvents();;
                success('{% trans "Updated programme" %}');
            } else if (name === 'change_schedule') {
                const calendarEl = document.getElementById('calendar')
                const calendar = new FullCalendar.Calendar(calendarEl, {})
                calendar.refetchEvents();;
                success('{% trans "Updated schedule" %}');
            }
            win.close();
        }
        
        function dismissAddRelatedObjectPopup(win, newId, newRepr) {
            // admin/js/admin/RelatedObjectLookups.js
            // Refreshing related information depending on the object type 
            var name = windowname_to_id(win.name);
            // var view = $('#calendar').fullCalendar('getView');
            const calendarEl = document.getElementById('calendar')
            var calendar = new FullCalendar.Calendar(calendarEl, {})
            calendar.getView();
            calendar.render()
            if (name === 'add_programme') {
                reloadProgrammes(view.start.format('YYYY-MM-DD'), moment(view.end).subtract(1, "days").format('YYYY-MM-DD'));
                success('{% trans "Added programme" %}');
            }
            win.close();
        }

        dismissChangeRelatedObjectPopup = dismissChangeRelatedObjectPopup;
        dismissAddAnotherPopup = dismissAddRelatedObjectPopup;
    </script>
{% endblock %}

{% block messages %}
    <ul id="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="grp-{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <div class="row shedude-manager">
        <div class="col-xs-3">
            <select id="select-calendar" class="form-control">
                {% for calendar in calendars %}
                    <option value="{{calendar.id}}"
                            {% if calendar.is_active %}
                            selected="selected"
                            {% endif %}>
                        {{calendar.name}}
                    </option>
                {% endfor %}
            </select>

            
            <div class="external-programmes-wrapper col-xs-3">
                <h3>
                    {% trans "Programmes" %}
                    <small>
                        <a class="add-another" id="add_add_programme" 
                           href="/admin/programmes/programme/add/?_popup=1" title="Add another programme">
                        </a>
                    </small>
                </h3>
    
                <h4>{% trans "Programme type" %}</h4>
                <div class="radio">
                    <label for="live">
                        <input type="radio" name="group1" id="live" value="L" checked />
                        {% trans "live" %}
                    </label>
                </div>
                <div class="radio">
                    <label for="broadcast">
                        <input type="radio" name="group1" id="broadcast" value="B" />
                        {% trans "broadcast" %}
                    </label>
                </div>
                <div class="radio">
                    <label for="broadcast-syn">
                        <input type="radio" name="group1" id="broadcast-syn" value="S">
                        {% trans "broadcast syndication" %}
                    </label>
                </div>
            </div>
            <div class="external-events-wrapper col-xs-3">
                <div id="external-events"></div>
            </div>
        </div>
        <div class="col-xs-9">
            <div id='calendar'></div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "Delete transmission?" %}</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="button" class="btn btn-danger modal-confirm-button">{% trans "I am sure" %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
{% endblock %}
