{% extends "admin/change_list.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extrastyle %}
        <link rel="stylesheet" href="{% static "fullcalendar/dist/fullcalendar.min.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "fullcalendar/dist/fullcalendar.print.css" %}" type="text/css" media='print'/>
        <style type="text/css" media="all">
          button {
            margin: unset;
            padding: unset;
            width: unset;
            height: unset;
          }
          tbody.fc-body table{
            margin: unset !important;
          }
        </style>
{% endblock %}

{% block extrahead %}
        <script src="{% static "jquery/dist/jquery.min.js" %}" type="text/javascript"></script>
        <script src="{% static "jquery-ui/jquery-ui.min.js" %}" type="text/javascript"></script>
        <script src="{% static "moment/min/moment.min.js" %}" type="text/javascript"></script>
        <script src="{% static "fullcalendar/dist/fullcalendar.js" %}" type="text/javascript"></script>
        <script src="{% static "fullcalendar/dist/lang-all.js" %}" type="text/javascript"></script>

        <script>

        function alert(msg) {
            message(msg, "error");
        }

        function info(msg) {
            message(msg, "info");
        }

        function success(msg) {
            message(msg, "success");
        }


        function message(msg, tag) {
            $("<li>").append(msg)
                .addClass("grp-" + tag)
                .fadeIn(800).delay(5000).fadeOut(800, function() {
                    this.remove();
                    if (!$("#messages>li").size()) $("#messages").slideUp();
                })
                .appendTo("#messages");
            $("#messages").slideDown();
        }

        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            complete: function (data) {
                        //loading(false);
                }
        });

        $(document).ready(function () {
            reloadProgrammes();

            $("#select-board").change(function() {
                    $('#calendar').fullCalendar( 'refetchEvents')
            });

            var calendar = $('#calendar').fullCalendar({
                height: 'auto',
                contentHeight: 'auto',
                lang: '{{ LANGUAGE_CODE }}',
                eventDurationEditable: false,
                eventStartEditable: true,
                allDaySlot: false,
                slotDuration: '00:10:00',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'agendaWeek',
                eventSources: [
                  {
                    url: '{% url "api:schedule-list" %}',
                    data: function() {
                      return { schedule_board: $("#select-board").val() }
                    },
                    error: function() {
                        alert('{% trans "There was an error while fetching schedules" %}');
                    },
                    eventDataTransform: function(schedule) {
                      var event = {
                        id: schedule.id,
                        title: schedule.title,
                        start: schedule.start,
                        end: schedule.end,
                        type: schedule.type,
                        source: schedule.source,
                        backgroundColor: function() {
                          var BackgroundColor = Object.freeze({
                            L: "#F9AD81",
                            B: "#C4DF9B",
                            S: "#8493CA"
                          });
                          return BackgroundColor[schedule.type];
                        }(),
                        url: "{% url 'admin:schedules_schedule_changelist' %}" + schedule.id,
                      };
                      return event;
                    },
                    editable: true,
                    borderColor: "#000",
                    allDayDefault: false
                  },{
                    url: '{% url "api:transmission-list" %}',
                    contentType: 'application/json',
                    startParam: 'after',
                    endParam: 'before',
                    data: function() {
                      return { schedule_board: $("#select-board").val() }
                    },
                    error: function() {
                        alert('{% trans "There was an error while fetching transmissions" %}');
                    },
                    eventDataTransform: function(transmission) {
                      var event = {
                        id: transmission.slug,
                        title: transmission.name,
                        start: transmission.start,
                        end: transmission.end
                      };
                      return event;
                    },
                    editable: false,
                    allDayDefault: false
                  } ],
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (date) { // this function is called when something is dropped
                  var programme = $(this).data('slug');
                  var schedule_board = $("#select-board").val();
                  var type = $("input[name='group1']:checked").val();

                  // create the event 
                  $.ajax({
                      type: "POST",
                      url: "{% url 'api:schedule-list' %}",
                      contentType: 'application/json',
                      data: JSON.stringify({
                          schedule_board: schedule_board,
                          programme: programme,
                          start: date,
                          type: type
                      }),
                      success: function(schedule) {
                        $('#calendar').fullCalendar('refetchEvents');
                      },
                      error: function (data) {
                          alert('{% trans "There was an error while creating schedule" %}');
                      }
                    });
                },

                eventClick: function (calEvent, jsEvent, view) {
                },

                eventDrop: function (event, delta, revertFunc) {
                    $.ajax({
                        type: "PATCH",  // XXX this is just for transition, we want to have a PUT here
                        url: "{% url 'api:schedule-list' %}/" + event.id,
                        contentType: 'application/json',
                        data: JSON.stringify({
                            start: event.start,
                        }),
                        success: function (res) {
                          $('#calendar').fullCalendar('refetchEvents');
                        },
                        error: function (data) {
                            revertFunc();
                            alert('{% trans "There was an error in the request" %}');
                        },
                    });
                },
            })

        });

        function reloadProgrammes() {
            $('#programmes').empty();
            $.getJSON({
                url: "{% url 'api:programme-list' %}",
                success: function(programmes) {
                    for (var i=0; i<programmes.length; i++) {
                        var programme = programmes[i];

                        $("<div>").append(programme.name)
                            .addClass("programme grp-row")
                            .data('slug', programme.slug)
                            .data('title', programme.name)
                            .data('runtime', programme.runtime)
                            .draggable({
                                zIndex: 999,
                                revert: true, // will cause the event to go back to its
                                revertDuration: 0
                            })
                            .appendTo('#programmes');
                    }
                    info('{% trans "Programmes reloaded" %}');
                },
                error: function (data) {
                    alert('{% trans "There was an error while reloding programmes" %}');
                },
         });
        }
        </script>
{% endblock %}

{% block messages %}
<ul id="messages" class="grp-messagelist" style="display:{% if messages %}block{% else %}none{% endif %}">
    {% for message in messages %}
        <li{% if message.tags %} class="grp-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
<div  class="l-2c-fluid l-d-6">
    <div class="c-1">
        <div class="grp-module">
            <h2>{% trans "Schedule board" %}</h2>
            <div class="grp-module">
                <select id="select-board" class="form-control">
                    {% for schedule_board in schedule_boards %}
                    <option value="{{schedule_board.slug}}"
                            {% if schedule_board == current_scheduleBoard %}
                                    selected="selected"
                            {% endif %}>
                            {{schedule_board.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="grp-group">
            <h2>Selection</h2>
            <!-- <div class="grp-module" id='external-events'> -->
            <div class="grp-module">
                <h3>{% trans "Programmes" %}</h3>
                <span id="programmes" />
            </div>
            <div class="grp-module">
                <h3>{% trans "Emission type" %}</h3>
                <label for="live" class="grp-row">
                    <input type="radio" name="group1" id="live" value="L" checked />
                    {% trans "live" %}
                </label>
                <label for="broadcast" class="grp-row">
                    <input type="radio" name="group1" id="broadcast" value="B" />
                    {% trans "broadcast" %}
                </label>
                <label for="broadcast-syn" class="grp-row">
                    <input type="radio" name="group1" id="broadcast-syn" value="S">
                    {% trans "broadcast syndication" %}
                </label>
            </div>
        </div>
    </div>
    <div class="c-2 grp-group grp-stacked">
        <h2>Schedules</h2>
        <div id='calendar'></div>
    </div>
  </div>
{% endblock %}
