{% extends "radio/base.html" %}
{% load staticfiles i18n fb_versions %}


{% block page_title %}{% trans "Programme list" %}{% endblock %}

{% block programmes_class %}class="active"{% endblock %}

{% block content %}
    {% for programme in programme_list %}
        <div class="container mb">
            <div class="row">
                <div class="col-lg-6">
                    <a href="{% url 'programmes:detail' programme.slug %}">
                        <img class="img-responsive" src="{% version programme.photo 'programme_preview' %}" alt="...">
                    </a>
                </div>

                <div class="col-lg-6">
                    <h4>{{ programme.name|title }}</h4>
                    <p>{{ programme.synopsis|truncatewords_html:130|safe }}</p>
                    <p>
                        <br/>
                        <a href="{{ programme.get_absolute_url }}" class="btn btn-theme">{% trans 'More Info' %}</a>
                    </p>
                </div>
            </div>
        </div><! --/container -->
    {% empty %}
        <h1>{% trans "No programmes are available"|upper %}</h1>
    {% endfor %}
{% endblock %}
