{% load staticfiles i18n %}


<dl id="tabulate">
	{% for role in list %}
		<dt>
		{% if role.person.userprofile.display_personal_page %}
		<a href="{% url 'users:detail' role.person.userprofile.slug %}">
		{% endif %}
		
		{% firstof role.person.get_full_name role.person %}
		
		{% if unspecified != role.role %}({{ role.get_role_display }}){% endif %}

		{% if role.person.userprofile.display_personal_page %}
		</a>
		{% endif %}
		
		</dt>
		<dd>{% if role.description %}{{role.description}}{% else %}.{% endif %} </dd>
	{% endfor %}
</dl>
