{% extends "radio/base.html" %}
{% load static %}
{% load staticfiles i18n %}


{% block schedules_class %}class="active"{% endblock %}

{% block page_title %}{% trans "Schedule" %}{% endblock %}

{% block javascript %}
    <meta charset='utf-8'/>
    <link rel="stylesheet" href="{% static "fullcalendar/fullcalendar.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "fullcalendar/fullcalendar.print.css" %}" type="text/css" media='print'/>
    <script src="{% static "lib/moment.min.js" %}" type="text/javascript"></script>
    <script src="{% static "lib/jquery-ui.custom.min.js" %}" type="text/javascript"></script>
    <script src="{% static "radio/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "fullcalendar/fullcalendar.min.js" %}" type="text/javascript"></script>
    <script src="{% static "fullcalendar/lang-all.js" %}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            var calendar = $('#calendar').fullCalendar({
                height: 'auto',
                contentHeight: 'auto',
                aspectRatio: 1.35,
                lang: '{{language}}',
                eventDurationEditable: false,
                eventStartEditable: false,
                allDaySlot: false,
                firstDay: {{first_day}},
                minTime: '{{min_time}}',
                maxTime: '{{max_time}}',
                axisFormat: 'HH:mm',
                timezone: false,
                scrollTime: '{{scroll_time}}',

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaWeek,agendaDay'
                },
                columnFormat: {
                    month: 'ddd',    // Mon
                    week: 'dddd',	 // Monday
                    day: 'dddd'
                },
                defaultView: 'agendaWeek',
                droppable: false,
                events: '{{feed_schedules}}'
            })

        });
    </script>
{% endblock %}


{% block content %}
    <div class="container mb">
        <div class="row">
            <div class="col-xs-12" id='calendar'></div>
        </div>
    </div><! --/container -->
{% endblock %}

