#col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main {
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}
	
#wrap {
	padding: 10px 0px 0px 0px;
}

#messages{
	min-height: 60px;
}

#messages .alert {
	margin-bottom: 0;
}

.shedude-manager{
	display: block;
}

.manager-left{
	width: 300px;
	float: left;
}

.manager-right{
	width: 100%;
	float: left;
}

.external-programmes-wrapper {
	position: fixed;
	
    height: 170px;
	z-index: 31;  
	bottom: 188px;
	left: 15px;
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 0 10px;
	
}
.external-events-wrapper {
	position: fixed;
	
    height: 188px;
    overflow: overlay;
	z-index: 30;
	bottom: 0;
	left: 15px;
	
	padding: 0;
}
#external-events {
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
}
	
#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}
	
.external-event { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 2px 4px;
	background: #3366CC;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
}

.external-event:after {
	font-family: 'Glyphicons Halflings';  
	content: "\e065";
	position: absolute;
	top: 2px;
	right: 7px;
}

	
#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
}
	
#external-events p input {
	margin: 0;
	vertical-align: middle;
}
/*
#calendar {  disabled 
	width: 900px;
}
*/