{% load i18n staticfiles %}
{% load global_settings_extras %}
{% get_global_model 'global_settings.SiteConfiguration' as site_config %}


<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
        {% block meta_title %}{% endblock %}
        {% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}
    </title>

    <link rel="shortcut icon" href="{% static "radioco/img/favicon.ico" %}">

    <link rel="stylesheet" href="{% static "bower/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bower/fullcalendar/dist/fullcalendar.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "bower/fullcalendar/dist/fullcalendar.print.css" %}" type="text/css" media='print'/>
    <link href="{% static "radioco/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "radioco/css/style.css" %}" rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

    {% block extra_css %}{% endblock %}

    {% block extra_js %}{% endblock %}

    {% include "radioco/includes/footer_scripts.html" %}

    <!--[if lt IE 9]>
        <script src="{% static "radioco/js/html5shiv.js" %}"></script>
        <script src="{% static "radioco/js/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}
</head>


<body>
{% block intro %} {% endblock %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">{{ site_config.site_name }}</a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item {% block index_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'home' %}">{% trans "home"|title %}</a>
                </li>
                <li class="nav-item {% block schedules_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'schedules:list' %}">{% trans "schedules"|title %}</a>
                </li>
                <li class="nav-item {% block programmes_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'programmes:list' %}">{% trans "programmes"|title %}</a>
                </li>
                <li class="nav-item {% block users_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'users:list' %}">{% trans "people"|title %}</a>
                </li>
                <li class="separator"></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">{% trans "admin area"|title %}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


{% block page_title_wrapper %}
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>{% block page_title %}{% endblock %}</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div>
{% endblock %}

<div class="container">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% block content %}{% endblock %}

<div id="footerwrap">
    <div class="container">
        <div class="row">
            {% if site_config.about_footer %}
                <div class="col-lg-4">
                    <h4>{% trans 'About' %}</h4>
                    <div class="hline-w"></div>
                    <p>
                        {{ site_config.about_footer }}
                    </p>
                </div>
            {% endif %}
            {% if site_config.twitter_address or site_config.facebook_address %}
                <div class="col-lg-4">
                    <h4>{% trans 'Social Links' %}</h4>
                    <div class="hline-w"></div>
                    <p>
                        {% if site_config.facebook_address %}
                            <a href="{{ site_config.facebook_address }}">
                                <i class="fa fa-facebook"></i></a>
                            </a>
                        {% endif %}
                        {% if site_config.twitter_address %}
                            <a href="{{ site_config.twitter_address }}">
                                <i class="fa fa-twitter"></i></a>
                            </a>
                        {% endif %}
                    </p>
                </div>
            {% endif %}
            {% if site_config.address %}
                <div class="col-lg-4">
                    <h4>{% trans 'Our Address' %}</h4>
                    <div class="hline-w"></div>
                    <p>
                        {{ site_config.address }}
                    </p>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <p class="site-info text-center">
                {% blocktrans with url='<a href="http://radioco.org" target="_blank">RadioCo</a>' %}This website is running {{ url }}{% endblocktrans %}
            </p>
        </div>
    </div>
</div>

<!-- Core JavaScript Files -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{% static "bower/jquery/dist/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "bower/jqueryui/jquery-ui.min.js" %}" type="text/javascript"></script>
<script src="{% static "radioco/js/jquery.hoverdir.min.js" %}"></script>
<script src="{% static "radioco/js/jquery.hoverex.min.js" %}"></script>
<script src="{% static "radioco/js/jquery.prettyPhoto.js" %}"></script>
<script src="{% static "radioco/js/jquery.isotope.min.js" %}"></script>
<script src="{% static "bower/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "bower/moment/min/moment.min.js" %}" type="text/javascript"></script>
<script src="{% static "bower/fullcalendar/dist/fullcalendar.js" %}" type="text/javascript"></script>
<script src="{% static "bower/fullcalendar/dist/lang-all.js" %}" type="text/javascript"></script>

<script src="{% static "radioco/js/custom.js" %}"></script>
<script>
    // Portfolio
    (function ($) {
        "use strict";
        var $container = $('.portfolio'),
                $items = $container.find('.portfolio-item'),
                portfolioLayout = 'fitRows';

        if ($container.hasClass('portfolio-centered')) {
            portfolioLayout = 'masonry';
        }

        $container.isotope({
            filter: '*',
            animationEngine: 'best-available',
            layoutMode: portfolioLayout,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            },
            masonry: {}
        }, refreshWaypoints());

        function refreshWaypoints() {
            setTimeout(function () {
            }, 1000);
        }

        $('nav.portfolio-filter ul a').on('click', function () {
            var selector = $(this).attr('data-filter');
            $container.isotope({filter: selector}, refreshWaypoints());
            $('nav.portfolio-filter ul a').removeClass('active');
            $(this).addClass('active');
            return false;
        });

        function getColumnNumber() {
            var winWidth = $(window).width(),
                    columnNumber = 1;

            if (winWidth > 1200) {
                columnNumber = 5;
            } else if (winWidth > 950) {
                columnNumber = 4;
            } else if (winWidth > 600) {
                columnNumber = 3;
            } else if (winWidth > 400) {
                columnNumber = 2;
            } else if (winWidth > 250) {
                columnNumber = 1;
            }
            return columnNumber;
        }

        function setColumns() {
            var winWidth = $(window).width(),
                    columnNumber = getColumnNumber(),
                    itemWidth = Math.floor(winWidth / columnNumber);

            $container.find('.portfolio-item').each(function () {
                $(this).css({
                    width: itemWidth + 'px'
                });
            });
        }

        function setPortfolio() {
            setColumns();
            $container.isotope('reLayout');
        }

        $container.imagesLoaded(function () {
            setPortfolio();
        });

        $(window).on('resize', function () {
            setPortfolio();
        });
    })(jQuery);
</script>
{% block javascript %}{% endblock javascript %}

</body>
</html>
