{% extends "radio/base.html" %}
{% load staticfiles i18n %}

{% block users_class %}class="active"{% endblock %}
{% block content %}
	<div class="row">
		{% if userprofile %}
			<h1>{% firstof userprofile.user.get_full_name|upper userprofile.user|upper %} </h1>
			<div class="media">
				<img src="{{ userprofile.avatar.url }}">
			</div>
			<p>{{userprofile.bio|safe}}</p>
			
			{% if role_list %}
			<h2>{% trans "Contributions"|upper %}</h2>
			<dl id="tabulate">
				{% for role in role_list %}
					<dt><a href="{% url 'programmes:detail' role.programme.slug %}">{{ role.programme }}
					 {% if unspecified != role.role %}({{ role.get_role_display }}){% endif %}
					</a></dt>
					<dd>{% if role.description %}{{role.description}}{% else %}.{% endif %} </dd>
				{% endfor %}
			</dl>
			{% endif %}
			
			
		{% else %}
			<h1>{% trans "No user information available"|upper %}</h1>
			<div class="media">
				<img src="{% static "radio/images/default-userprofile-avatar.jpg" %}">
			</div>
		{% endif %}
	</div>
{% endblock %}