#col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main {
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}
	
#wrap {
	padding: 10px 0px 0px 0px;
}
	
#external-events {
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
}
	
#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}
	
.external-event { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 2px 4px;
	background: #3366CC;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
}
	
#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
}
	
#external-events p input {
	margin: 0;
	vertical-align: middle;
}

#calendar {
	width: 900px;
}