{% extends "home/base.html" %}
{% load staticfiles i18n %}

{% block users_class %}class="active"{% endblock %}
{% block content %}
	<h1>{% trans "announcers list"|upper %}</h1>
	<ol>
		<div class="row">
			{% for userprofile in userprofile_list %}
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img class="media-object" src="{{ userprofile.avatar.url }}">
						<div class="caption">
							<h3><a href="{% url 'users:detail' userprofile.slug %}">{{ userprofile.user }}</a></h3>
							<p>{{ userprofile.bio|truncatewords:12 }}</p>
						</div>
					</div>
				</div>
			{% empty %}
				<p>{% trans "No userprofiles are available"|upper %}</p>
			{% endfor %}
		</div>
	</ol>
{% endblock %}