Django>=1.8, <1.9
Pillow
django-bootstrap3
django-ckeditor==5.0.2
django-disqus
django-filebrowser>=3.6.1
django-grappelli>=2.7.3
django-recurrence>=1.2.0
djangorestframework
fabric
python-dateutil
pytz
