{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>
			{% block title %}{% trans "Django Home" %}{% endblock %}
		</title>
		<!-- Bootstrap core CSS -->
		{% block stylesheets %}
			<link rel="stylesheet" href="{% static "radio/css/bootstrap.css" %}" type="text/css" />
			<link rel="stylesheet" href="{% static "radio/css/dashboard.css" %}" type="text/css" />
		{% endblock %}
		{% block javascript %}
			<script src="{% static "radio/js/jquery-2.1.0.js" %}" type="text/javascript"></script>
			<script src="{% static "radio/js/bootstrap.js" %}" type="text/javascript"></script>
		{% endblock %}
		{% block extra_head %}{% endblock %}
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'dashboard:index' %}">{% trans "Dashboard: "|title %} {{SITE_NAME}}</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						{% if display_settings %}
							<li><a href="#">Settings</a></li>
						{% endif %}
						<li {% block profile_class %}{% endblock %}><a href="{% url 'dashboard:edit_profile' %}">{% trans "Profile" %}</a></li>
						<li><a href="{% url 'logout' %}">{% trans "Logout"|title %}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li {% block index_class %}{% endblock %}><a href="{% url 'dashboard:index' %}">{% trans "Overview" %}</a></li>
					</ul>
					<ul class="nav nav-sidebar">
						{% if display_programme_list %}
							<li {% block programmes_class %}{% endblock %}><a href="{% url 'dashboard:programme_list' %}">{% trans "Programmes" %}</a></li>
						{% endif %}
						<li {% block my_programmes_class %}{% endblock %}><a href="{% url 'dashboard:my_programme_list' %}">{% trans "My programmes" %}</a></li>
					</ul>
					<ul class="nav nav-sidebar">
						{% if display_role_list %}
						<li {% block roles_class %}{% endblock %}><a href="{% url 'dashboard:role_list' %}">{% trans "Roles" %}</a></li>
						{% endif %}
						<li {% block my_roles_class %}{% endblock %}><a href="{% url 'dashboard:my_role_list' %}">{% trans "My roles" %}</a></li>
					</ul>
					<ul class="nav nav-sidebar">
						{% if display_schedule_editor %}
							<li {% block schedules_class %}{% endblock %}><a href="{% url 'dashboard:schedule_editor' %}">{% trans "Schedules" %}</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
	</body>
</html>